<footer class="large-12 medium-12 small-12 ">
    <div class="callout green">
        <div class="grid-x">
            <div class="small-12 medium-6 large-6 cell">
                <h4>Follow us on</h4>
                <ul>
                    <li>Facebook</li>
                    <li>Twitter</li>
                </ul>
            </div>
            <div class="small-12 medium-6 large-6 cell">
                <h4> Information</h4>
                <ul>
                    <li> Policy</li>
                    <li> Terms of Service</li>
                </ul>
            </div>
        </div>
    </div>
</footer>