<header>
    <div class="title-bar dark" data-responsive-toggle="mainNavigation" data-hide-for="medium">
        <div class="title-bar-left">
            <button class="menu-icon" type="button" data-toggle="mainNavigation"></button>
            <div class="title-bar-title">Menu</div>
        </div>
        <div class="title-bar-right">
            Georges Garden Shop
        </div>
    </div>
    <div class="top-bar dark" id="mainNavigation">
        <div class="top-bar-left">
            <ul class="menu vertical medium-horizontal">
                <li class="menu-text hide-for-small-only">Georges Garden Shop</li>
            </ul>
        </div>
        <div class="top-bar-right">
            <ul class="menu vertical medium-horizontal">
                <li><a href="/">Home</a></li>
                <li><a href="{{root}}/gallery.html">Gallery</a></li>
                <li><a href="{{root}}/contact.html">Contact Us</a></li>
                <li><a href="{{root}}/about.html">About Us</a></li>
            </ul>
        </div>
    </div>
</header>